{{> head }}
    
{{> navbar }}

<div class="row">
    
    <div class="col-8">
        <h1>Curso de Node</h1>
        <p>
            Node.js is a trademark of Joyent, Inc. and is used with its permission. Please review the Trademark List and Trademark Guidelines
            of the OpenJS Foundation.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/node-js.png" class="img-thumbnail"> 
    </div>

</div>

{{> footer }}
